body {
    padding-top: 50px;
    padding-bottom: 40px;
}

.body-content {
    padding: 12px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

/*Ajuste al CSS*/


.navbar-header {
    padding: 0px 10px 0px 10px;
}

.navbar-inverse {
    background-color: white;
    border-color: #080808;
}

.navbar-toggle {
    background-color: #1F497D;
    padding: 10px 10px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #1F497D;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: white;
        background-color: #1F497D;
    }


footer {
    margin-top: 10px;
    padding: 8px;
    background-color: #1F497D;
}

    footer p {
        margin: 0px;
        FONT-FAMILY: fantasy;
        font-size: large;
        color: white;
    }


.carousel {
    position: relative;
    border-radius: 0px 40px 0px 40px;
    overflow: hidden;
    border-width: 5px;
    border-color: rgb(204, 213, 225);
    border-style: solid;
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {

    .container {
        max-width: 100%;
    }
}
