
<link href="~/Content/eventoTop5.css" rel="stylesheet" />
<div id="top5">
    <div class="item">
        <img src="~/resource_/images/campanya/alexander-londono-322213.jpg">
    </div>
    <div class="item">
        <img src="~/resource_/images/campanya/alexander-londono-322213.jpg">
    </div>
    <div class="item">
        <img src="~/resource_/images/campanya/alexander-londono-322213.jpg">
    </div>
    <div class="item">
        <img src="~/resource_/images/campanya/alexander-londono-322213.jpg">
    </div>
    <div class="item">
        <img src="~/resource_/images/campanya/alexander-londono-322213.jpg">
    </div>
</div>
